.App, body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#delete-button {
  background-color: red;
  margin-top: 50px;
}

.restaurant-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
}
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 15px;
  margin: 15px;
  width: 300px;
}

.restaurant-form-container {
  margin: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  align-self: center;
}

.restaurant-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.restaurant-form label {
  margin: 10px;
}

.button-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}